<html lang="en">
    <head>

    </head>
    <body>
        <h1>Sub-Events</h1>

        {% if auth %}
        <p>user has edit authorization</p>
        {% else %}
        <p>user does not have edit authorization</p>
        {% endif %}

        <hr>
        {% for event in events %}
        <p>Event name: {{event.name}}</p>
        <p>Event time: {{event.event_time}}</p>
        <p>Event description: {{event.description}}</p>
        <p>Created by {{event.author}} at {{event.created_at}}</p>
        <hr/>
        {% endfor %}


        <h2>Create New Event</h2>
        <!-- TODO: add correct endpoint -->
        <form action="{{events_url}}" method="post">
            <div>
                <label for="name">Event Name:</label>
                <input type="text" id="name" name="event_name">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea type="text" rows = "5" cols = "60" id="description" name="description">
                  Enter details here.
                </textarea>
            </div>
            <div>
                <label for="event_time">Event Time:</label>
                <input type="datetime-local" id="event_time" name="event_time">
            </div>
            <input type="hidden" id="author" name="author_id" value="{{user}}">
            <div class="button">
                <button type="submit">Add event</button>
            </div>
    		</form>

        <a href='/v1/'>See all posts</a>

    </body>
</html>
