<html lang="en">
    <head>

    </head>
    <body>
        <h1>Sub-Events</h1>

        {% if auth %}
        <p>user has edit authorization</p>
        {% else %}
        <p>user does not have edit authorization</p>
        {% endif %}

        <hr>
        {% for event in events %}
        <p>Event name: {{event.name}}</p>
        <p>Event time: {{event.event_time}}</p>
        <p>Event description: {{event.description}}</p>
        <p>Created by {{event.author}} at {{event.created_at}}</p>
        <hr/>
        {% endfor %}


        <h2>Create New Event</h2>
        <!-- TODO: add correct endpoint -->
        <form action="/" method="post">
      			<div>
      			    <label for="name">Name:</label>
                <input type="text" id="name" name="user_name">
      			</div>
      			<div>
      			    <label for="message">Message:</label>
                <input type="text" id="message" name="user_message">
      			</div>
      			<div class="button">
                <button type="submit">Send your message</button>
            </div>
    		</form>

        <a href='/v1/'>See all posts</a>

    </body>
</html>
