/* Add a black background color to the top navigation */
.topnav {
  width: 100%;
  background-color: #333;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

/* Style the links inside the navigation bar */
.topnav .navtab {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav .navbtn:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav .navbtn.active {
  background-color: #4CAF50;
  color: white;
}

#nav_left {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.search_box {
  display: flex;
  flex: 1 1 auto;
}

.search_box input[type=text] {
  /* style search bar */
  padding: 8px;
  margin-left: 20px;
  font-size: 16px;
  border: none;
  width: 80%;
  max-width: 500px;
}

/* search bar extends if screen is narrow */
@media screen and (max-width: 900px) {
  .search_box input[type=text]:focus {
    width: 80%;
  }
}

.search_box button {
  background: #ddd;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.search_box button:hover {
  background: #ccc;
}


#user_nav {
  display: flex;
}

#sign_out_button {
  border-left: 1px solid white;
}

#sign_in_button {
  padding: 0 8px;
}

.content_box {
  background-color: #ffffff;
  border: 1px hidden gray;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 8px #cccccc;
}

.content_box .delete_button {
  border: 1px solid #8c1515;
  color: #8c1515;
  background-color: white;
  padding: 12px 24px;
  border-radius: 4px;
  display: block;
  transition: all 200ms;
  width: fit-content;
  margin: 12px auto;
}

.content_box .delete_button:hover {
  color: white;
  background-color: #8c1515;
}

hr.form_divider {
  border-top: 5px double #8c8b8b;
}

.form input[type=text],
select,
textarea {
  background-color: white;
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form input[type=datetime-local] {
  padding: 12px 12px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form textarea {
  resize: none;
}

.form button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
  width: 100%;
}

.form button:hover {
  background-color: #45a149;
  box-shadow: 0 0 5px #cccccc;
}

.page_content {
  margin: 75px 15% 30px;
}

@media screen and (max-width: 540px) {
  .page_content {
    margin-top: 110px;
  }
}

body {
  background-color: #f7f7f7;
  margin: 0px;
  font-family: Helvetica, sans-serif, Arial;
}

img {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}
